# ======================= #
# SolidWorks Backup Files #
# ======================= #
Sicherung von *
Backup of *
~$*

# ==================== #
# SolidWorks Log Files #
# ==================== #
console.log